.titulo {
    color: black;
    text-align: center;
}


.subtitulo {
    color: black;
}

.inputvalor {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.botao {
    width: 100%;
}

.botaolimpar {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#imagem {
    width: 300px;
    height: 300px;
}

.background {
    border: 1px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 10px;
}

.alerta {
    text-align: center;
    color: red;
}

a .cadastroLink {
    background-color: green;
}

li {
    list-style-type: none;
}

table {
    text-align: center;
}